#### Buisness Problem :- Predictiction of employee'ssalary
#### Data Understanding :- 
    * Size
    * Shape
    * Dimensions
    * Data Type
    * Discriotion :- Employee Experiance
        
#### Supervised Machine Learning-Regression(Numerical)
#### 2. Data Preperation :-
    * EDA
        * Missing Value
        * Outliers
        * Structural Error
        * Duplicate Values
        * Type casting
        * Relationships
        * Normalization
        * Standadization
    * Data Cleaning :-
        * Encoding

In [1]:
!pip install scikit-learn

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/4e/ba/ce9bd1cd4953336a0e213b29cb80bb11816f2a93de8c99f88ef0b446ad0c/scikit_learn-1.3.2-cp311-cp311-win_amd64.whl.metadata
  Using cached scikit_learn-1.3.2-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\user\anaconda3\envs\python\lib\site-packages (from scikit-learn) (1.26.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\user\anaconda3\envs\python\lib\site-packages (from scikit-learn) (1.11.3)
Collecting joblib>=1.1.1 (from scikit-learn)
  Obtaining dependency information for joblib>=1.1.1 from https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl.metadata
  Using cached joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Using cached threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Using cached scikit_learn-1.3.2-cp311-cp311-win_amd64.whl (9.2 MB)
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.2 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/302.2 kB 1.3 MB/s eta 0:00:01
   ---- ----------------------------------- 30.7/302.2 kB 1.3 MB/s eta 0:00:01
   ---- ----------------------------------- 30.7/302.2 kB 1.3 MB/s eta 0:00:01
   ---- ----------------------------------- 30.7/302.2 kB 1.3 MB/s eta 0:00:01
   ---------- ---------------------------- 81.9/302.2 kB 306.3 kB/s eta 0:00:01
   ---------- ---------------------------- 81.9/302.2 kB 306.3 kB/s eta 0:00:01
   ---------- ---------------------------- 81.9/302.2 kB 306.3 kB/s eta 0:00:01
   ---------- ---------------------------- 81.9/302.2 kB 306.3 kB/s eta 0:00:01
   -------------- ----------------------- 112.6/302.2 kB 252.2 kB/s eta 0:00:01
   -------------- ----------------------- 112.6/302.2 kB 252.2 kB/s eta 0:00:01
   -------------- ----------------------- 112.6/302.2 kB 252.2 kB/s eta 0:00:01
   -------------- ----------------------- 112.6/302.2 kB 252.2 kB/s eta 0:00:01
   ---------------- --------------------- 133.1/302.2 kB 201.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   -------------------- ----------------- 163.8/302.2 kB 245.8 kB/s eta 0:00:01
   --------------------- ---------------- 174.1/302.2 kB 123.4 kB/s eta 0:00:02
   --------------------- ---------------- 174.1/302.2 kB 123.4 kB/s eta 0:00:02
   --------------------- ---------------- 174.1/302.2 kB 123.4 kB/s eta 0:00:02
   --------------------- ---------------- 174.1/302.2 kB 123.4 kB/s eta 0:00:02
   ------------------------- ------------ 204.8/302.2 kB 125.8 kB/s eta 0:00:01
   ------------------------- ------------ 204.8/302.2 kB 125.8 kB/s eta 0:00:01
   ------------------------- ------------ 204.8/302.2 kB 125.8 kB/s eta 0:00:01
   ------------------------- ------------ 204.8/302.2 kB 125.8 kB/s eta 0:00:01
   -------------------------------------  297.0/302.2 kB 163.8 kB/s eta 0:00:01
   -------------------------------------- 302.2/302.2 kB 163.9 kB/s eta 0:00:00
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 threadpoolctl-3.2.0

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [12]:
df = pd.read_csv(r"C:\Users\User\Downloads\Salary_dataset.csv")

In [13]:
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [14]:
df.drop('Unnamed: 0' , axis = 1, inplace = True)

In [15]:
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 612.0 bytes

In [17]:
df.shape

(30, 2)

#### Divide data into Input(X) and Output(y)
    * Input(X)
        * train (ML to drive pattern)
        * test  (pattern to derive pridiction)
    * Output(y)
        * train
        * test

#### Splitting the data

In [18]:
X = df[['YearsExperience']] #input
y = df[['Salary']] #output

In [48]:
X.head()

   YearsExperience
0              1.2
1              1.4
2              1.6
3              2.1
4              2.3

In [50]:
y.head()

    Salary
0  39344.0
1  46206.0
2  37732.0
3  43526.0
4  39892.0

In [39]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2 , random_state =1)
#Xtrain
#Xtest
#ytrain
#ytest

In [40]:
X_train

    YearsExperience
26              9.6
3               2.1
24              8.8
22              8.0
23              8.3
4               2.3
2               1.6
25              9.1
6               3.1
18              6.0
13              4.2
7               3.3
27              9.7
1               1.4
16              5.2
0               1.2
15              5.0
29             10.6
28             10.4
9               3.8
8               3.3
12              4.1
11              4.1
5               3.0

In [24]:
X_test

    YearsExperience
17              5.4
21              7.2
10              4.0
19              6.1
14              4.6
20              6.9

In [25]:
y_train

      Salary
26  116970.0
3    43526.0
24  109432.0
22  101303.0
23  113813.0
4    39892.0
2    37732.0
25  105583.0
6    60151.0
18   81364.0
13   57082.0
7    54446.0
27  112636.0
1    46206.0
16   66030.0
0    39344.0
15   67939.0
29  121873.0
28  122392.0
9    57190.0
8    64446.0
12   56958.0
11   55795.0
5    56643.0

In [26]:
y_test

     Salary
17  83089.0
21  98274.0
10  63219.0
19  93941.0
14  61112.0
20  91739.0

In [43]:
X_test , y_test

(    YearsExperience
 17              5.4
 21              7.2
 10              4.0
 19              6.1
 14              4.6
 20              6.9,
      Salary
 17  83089.0
 21  98274.0
 10  63219.0
 19  93941.0
 14  61112.0
 20  91739.0)

#### Models

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
reg = LinearRegression() #class

In [51]:
reg.fit(X_train,y_train)

LinearRegression()

In [60]:
reg.predict([[2.1]])

C:\Users\User\anaconda3\envs\Python\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[44276.78747434]])

In [54]:
reg.coef_

array([[9332.94473799]])

In [55]:
reg.intercept_

array([24677.60352456])

In [61]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")
df = pd.read_csv(r"C:\Users\User\Downloads\Salary_dataset.csv")
df.head()
df.drop('Unnamed: 0' , axis= 1 , inplace = True)
df.head()
X = df[['YearsExperience']]
y = df[['Salary']]
X_train , X_test , y_train , y_test = train_test_split(X,y, test_size = 0.3 , random_state = 1)
reg = LinearRegression()
reg.fit(X_train , y_train)
#reg.predict([[Put experiance]])
reg.predict([[5.6]])

array([[76662.86250584]])