### Regularization
* **Regularization:-** To solve the the problem of overfit
* **How:-** Adding penalty term to the cost function
* **Cost function + Penalty = Regularization Term**

* **Types of Regulaization:-**
    * In Linear Model
        * L1 Regularization(Lasso Regression):- 
            * Cost function + L1
            * arg.min(Sum log(1+e -yiwTxi) + lambda |Wi|
        * L2 Regularization (Ridge Regression):-
            * arg.min(Sum log(1+e -yiwTxi) + lambda (wi)**2
        * L1&L2 Regularization (Elastic Net Regression):-
            * arg.min(Sum log(1+e -yiwTxi) + lambda |Wi| * lambda (wi)**2
    * Decision Tress
    * Neural Network

**Regularization for Regression problem**

In [38]:
import pandas as pd
import numpy as np
import matplotlib .pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso , Ridge , RidgeClassifier , ElasticNet , RidgeCV , LassoCV
from sklearn.metrics import mean_squared_error , r2_score

In [4]:
df = pd.read_csv(r"C:\Users\User\Downloads\Real_estate.csv")
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
df.shape

(414, 8)

In [6]:
df.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [8]:
df.dtypes

No                                          int64
X1 transaction date                       float64
X2 house age                              float64
X3 distance to the nearest MRT station    float64
X4 number of convenience stores             int64
X5 latitude                               float64
X6 longitude                              float64
Y house price of unit area                float64
dtype: object

In [10]:
df.isna().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [11]:
df.duplicated().sum()

0

**Ridge**

In [13]:
X = df.drop('Y house price of unit area' , axis = 1)
y = df['Y house price of unit area']

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=23)

In [17]:
model = Ridge()
model.fit(X_train , y_train)
y_pred = model.predict(X_test)

In [26]:
print("Mean Squared Error :- " , mean_squared_error(y_test , y_pred))
print("Root Mean Squared Error :- " , np.sqrt(mean_squared_error(y_test , y_pred)))
print("R-2 Squared :- " , r2_score(y_test , y_pred))

Mean Squared Error :-  57.03725746134717
Root Mean Squared Error :-  7.552301467853834
R-2 Squared :-  0.531876988596745

**RidgeCV :- To find optimal value of alpha in Rigdge we use RidgeCV**

In [32]:
ridge_cv = RidgeCV(alphas=(0.1, 0.5, 1.0, 2.0, 3.0, 4.0, 10.0))
ridge_cv.fit(X_train , y_train)

ridge_cv.alpha_  #Best alpha value

0.1

In [33]:
#Now try with this alpha value in above Ridge

In [34]:
model = Ridge(alpha=0.1)
model.fit(X_train , y_train)
y_pred = model.predict(X_test)

print("Mean Squared Error :- " , mean_squared_error(y_test , y_pred))
print("Root Mean Squared Error :- " , np.sqrt(mean_squared_error(y_test , y_pred)))
print("R-2 Squared :- " , r2_score(y_test , y_pred))

Mean Squared Error :-  55.965125472519205
Root Mean Squared Error :-  7.480984258272383
R-2 Squared :-  0.5406763186762467

**Lasso**

In [37]:
model = Lasso()
model.fit(X_train , y_train)
y_pred = model.predict(X_test)

print("Mean Squared Error :- " , mean_squared_error(y_test , y_pred))
print("Root Mean Squared Error :- " , np.sqrt(mean_squared_error(y_test , y_pred)))
print("R-2 Squared :- " , r2_score(y_test , y_pred))

Mean Squared Error :-  58.563751304431186
Root Mean Squared Error :-  7.652695688738132
R-2 Squared :-  0.5193485654831815

**LassoCV :- To find optimal value of alpha in Lasso we use LassoCV**

In [40]:
lasso_cv = LassoCV(alphas=(0.1, 0.5, 1.0, 2.0, 3.0, 4.0, 10.0))
lasso_cv.fit(X_train , y_train)

ridge_cv.alpha_

0.1

In [41]:
model = Lasso(alpha=0.1)
model.fit(X_train , y_train)
y_pred = model.predict(X_test)

print("Mean Squared Error :- " , mean_squared_error(y_test , y_pred))
print("Root Mean Squared Error :- " , np.sqrt(mean_squared_error(y_test , y_pred)))
print("R-2 Squared :- " , r2_score(y_test , y_pred))

Mean Squared Error :-  57.12676334769814
Root Mean Squared Error :-  7.558224880730801
R-2 Squared :-  0.5311423851652015

**Regularization on Classification Problems**

In [70]:
from sklearn.linear_model import RidgeClassifier , RidgeClassifierCV

In [71]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [72]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [73]:
def tar(n):
    if n == 'setosa':
        return 1
    elif n == 'virginica':
        return 2
    else:
        return 3

In [74]:
df['species'] = df['species'].apply(tar)

In [75]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        1
1             4.9          3.0           1.4          0.2        1
2             4.7          3.2           1.3          0.2        1
3             4.6          3.1           1.5          0.2        1
4             5.0          3.6           1.4          0.2        1
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [76]:
X = df.drop('species' , axis=1)
y = df['species']

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=23)

In [77]:
model = RidgeClassifier()
model.fit(X_train , y_train)
y_pred = model.predict(X_test)

print("Mean Squared Error :- " , mean_squared_error(y_test , y_pred))
print("Root Mean Squared Error :- " , np.sqrt(mean_squared_error(y_test , y_pred)))
print("R-2 Squared :- " , r2_score(y_test , y_pred))

Mean Squared Error :-  0.13333333333333333
Root Mean Squared Error :-  0.3651483716701107
R-2 Squared :-  0.7945205479452054