**Importing Libraries**

In [30]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score , roc_auc_score , mean_squared_error
import warnings
warnings.filterwarnings("ignore")
import numpy as np
from sklearn.preprocessing import StandardScaler

**Importing company sales Dataset**

In [25]:
df = pd.read_csv(r"C:\Users\User\Downloads\company.csv")
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

**Data preprocessing**

In [26]:
df.shape

(200, 4)

In [27]:
df.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [28]:
df.duplicated().sum()

0

In [29]:
X = df.drop('Sales' , axis=1)
y = df['Sales']
X_train , X_test , y_train , y_test = train_test_split(X,y , test_size=0.2 , random_state=43)

**Scaling**

In [33]:
std = StandardScaler()
std.fit(X_train)
X_train= pd.DataFrame(std.transform(X_train) , columns=std.get_feature_names_out())

X_test = pd.DataFrame(std.transform(X_test) , columns=std.get_feature_names_out())

**Model Building**

In [48]:
knn = KNeighborsRegressor(n_neighbors=5 , p=1 , metric='minkowski')
knn.fit(X_train , y_train)
y_predict = knn.predict(X_test)

**MSE-Mean Squared Error**

In [49]:
mean_squared_error(y_test , y_predict)

2.57546

**RMSE-Root Mean Squared Error**

In [50]:
np.sqrt(mean_squared_error(y_test , y_predict))

1.6048239778866715

**R2 Score**

In [51]:
r2_score(y_test , y_predict)

0.906812760572375