In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\User\Downloads\weather_prob.csv")
df

    Day   Outlook Temperature Humidity    Wind Play
0     1     Sunny         Hot     High    Weak   No
1     2     Sunny         Hot     High  Strong   No
2     3  Overcast         Hot     High    Weak  Yes
3     4      Rain        Mild     High    Weak  Yes
4     5      Rain        Cool   Normal    Weak  Yes
5     6      Rain        Cool   Normal  Strong   No
6     7  Overcast        Cool   Normal  Strong  Yes
7     8     Sunny        Mild     High    Weak   No
8     9     Sunny        Cool   Normal    Weak  Yes
9    10      Rain        Mild   Normal    Weak  Yes
10   11     Sunny        Mild   Normal  Strong  Yes
11   12  Overcast        Mild     High  Strong  Yes
12   13  Overcast         Hot   Normal    Weak  Yes
13   14      Rain        Mild     High  Strong   No

**Yes**

**Pridiction for :- Rain , Hot , Normal , Weak**

In [5]:
pd.crosstab(df['Play'] , df['Outlook'] , normalize='index') 
#Outlook-Rain-Yes#0.33
#Outlook-Rain-No#0.40

Outlook  Overcast      Rain     Sunny
Play
No       0.000000  0.400000  0.600000
Yes      0.444444  0.333333  0.222222

In [7]:
pd.crosstab(df['Play'] , df['Temperature'] , normalize='index')
#Temp-Hot-Yes-0.22
#Temp-Hot-No-0.40

Temperature      Cool       Hot      Mild
Play
No           0.200000  0.400000  0.400000
Yes          0.333333  0.222222  0.444444

In [9]:
pd.crosstab(df['Play'] , df['Humidity'] , normalize='index') 
#humidity-normal-yes-0.66
#humidity-normal-yes-0.20

Humidity      High    Normal
Play
No        0.800000  0.200000
Yes       0.333333  0.666667

In [10]:
pd.crosstab(df['Play'] , df['Wind'] , normalize='index') 
#Wind-weak-yes-0.66
#Wind-weak-yes-0.40

Wind    Strong      Weak
Play
No    0.600000  0.400000
Yes   0.333333  0.666667

**Yes**

In [11]:
(9/14)*0.33*0.22*0.66*0.66

0.02033007428571429

**No**

In [13]:
(5/14)*0.40*0.40*0.20*0.40

0.004571428571428573

**Prediction for :- Overcast , Mild , High , Strong**

In [15]:
pd.crosstab(df['Play'] , df['Outlook'] , normalize='index')

Outlook  Overcast      Rain     Sunny
Play
No       0.000000  0.400000  0.600000
Yes      0.444444  0.333333  0.222222

In [17]:
pd.crosstab(df['Play'] , df['Temperature'] , normalize='index')

Temperature      Cool       Hot      Mild
Play
No           0.200000  0.400000  0.400000
Yes          0.333333  0.222222  0.444444

In [18]:
pd.crosstab(df['Play'] , df['Humidity'] , normalize='index')

Humidity      High    Normal
Play
No        0.800000  0.200000
Yes       0.333333  0.666667

In [19]:
pd.crosstab(df['Play'] , df['Wind'] , normalize='index')

Wind    Strong      Weak
Play
No    0.600000  0.400000
Yes   0.333333  0.666667

**Yes**

In [20]:
(9/14)*0.4*0.4*0.33*0.33

0.01120114285714286

**No**

In [21]:
(5/14)*0.0*0.4*0.8*0.6

0.0

**Rain , hot , Normal , weak**

In [25]:
yes = (9/14)*0.33*0.22*0.66*0.66
yes

0.02033007428571429

In [26]:
no = (5/14)*0.40*0.40*0.20*0.40
no

0.004571428571428573

In [27]:
print(max(yes , no))

0.02033007428571429