In [ ]:
**Probablity :- **

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\User\Downloads\weather_prob.csv")

In [3]:
df

    Day   Outlook Temperature Humidity    Wind Play
0     1     Sunny         Hot     High    Weak   No
1     2     Sunny         Hot     High  Strong   No
2     3  Overcast         Hot     High    Weak  Yes
3     4      Rain        Mild     High    Weak  Yes
4     5      Rain        Cool   Normal    Weak  Yes
5     6      Rain        Cool   Normal  Strong   No
6     7  Overcast        Cool   Normal  Strong  Yes
7     8     Sunny        Mild     High    Weak   No
8     9     Sunny        Cool   Normal    Weak  Yes
9    10      Rain        Mild   Normal    Weak  Yes
10   11     Sunny        Mild   Normal  Strong  Yes
11   12  Overcast        Mild     High  Strong  Yes
12   13  Overcast         Hot   Normal    Weak  Yes
13   14      Rain        Mild     High  Strong   No

**Marginal Prob**

In [7]:
#Prob of OUTLOOK is SUNNY
sum(df['Outlook'] == 'Sunny') /len(df)

0.35714285714285715

In [8]:
#Prob of OUTLOOK is RAIN
sum(df['Outlook'] == 'Rain') /len(df)

0.35714285714285715

In [10]:
#Prob of OUTLOOK is Overcast
sum(df['Outlook'] == 'Overcast') /len(df)

0.2857142857142857

In [15]:
#Prob of Temp is COOL
sum(df['Temperature'] == 'Cool') /len(df)

0.2857142857142857

**Joint Probabilty**

In [18]:
pd.crosstab(df['Outlook'] , df['Play'] , margins=True , normalize=True)

Play            No       Yes       All
Outlook
Overcast  0.000000  0.285714  0.285714
Rain      0.142857  0.214286  0.357143
Sunny     0.214286  0.142857  0.357143
All       0.357143  0.642857  1.000000

In [19]:
pd.crosstab(df['Temperature'] , df['Play'] , margins=True , normalize=True)

Play               No       Yes       All
Temperature
Cool         0.071429  0.214286  0.285714
Hot          0.142857  0.142857  0.285714
Mild         0.142857  0.285714  0.428571
All          0.357143  0.642857  1.000000

In [20]:
pd.crosstab(df['Humidity'] , df['Play'] , margins=True , normalize=True)

Play            No       Yes  All
Humidity
High      0.285714  0.214286  0.5
Normal    0.071429  0.428571  0.5
All       0.357143  0.642857  1.0

In [21]:
pd.crosstab(df['Wind'] , df['Play'] , margins=True , normalize=True)

Play          No       Yes       All
Wind
Strong  0.214286  0.214286  0.428571
Weak    0.142857  0.428571  0.571429
All     0.357143  0.642857  1.000000

**Conditonal Probablity :- P(A | B) = P(A and B)/P(B)**

In [26]:
pd.crosstab(df['Outlook'] , df['Play'] , normalize='index')

Play       No  Yes
Outlook
Overcast  0.0  1.0
Rain      0.4  0.6
Sunny     0.6  0.4