In [1]:
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\User\Downloads\household_power_consumption.txt\household_power_consumption.txt", delimiter=';')
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [3]:
df.shape

(2075259, 9)

In [4]:
df.columns

Index(['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [6]:
df.duplicated().sum()

0

In [7]:
df.isna().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [8]:
df.dropna(axis=0 , inplace=True)

In [9]:
df.isna().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [10]:
print("Updated Datafrme size after handling with Missing Values: " , df.shape)

Updated Datafrme size after handling with Missing Values:  (2049280, 9)

In [11]:
df.drop(['Date' , 'Time'] , axis=1 , inplace=True)

In [12]:
df.head()
#After removing unwanted column Feature Scaling

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [14]:
df = df[1:101]
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,3.520,0.522,235.020,15.000,0.000,2.000,17.0
...,...,...,...,...,...,...,...
96,4.070,0.088,231.990,17.400,0.000,1.000,17.0
97,3.612,0.090,232.360,15.600,0.000,2.000,16.0
98,3.458,0.090,232.710,14.800,0.000,1.000,17.0
99,3.434,0.090,232.010,14.800,0.000,1.000,16.0
100,3.366,0.000,232.780,14.400,0.000,1.000,17.0

In [15]:
kvalue = range(2,20)
inertia = []

for i in kvalue:
    kmean = KMeans(n_clusters=i , init='random' , max_iter=300 , random_state=23)
    kmean.fit(df)
    iner = kmean.inertia_
    inertia.append(iner)
    score = silhouette_score(df , kmean.labels_)
    print(f" K value-->{i} : Silhoutte Score-->{score}")

 K value-->2 : Silhoutte Score-->0.7753259010379762
 K value-->3 : Silhoutte Score-->0.4975601499470707
 K value-->4 : Silhoutte Score-->0.5135979644127273
 K value-->5 : Silhoutte Score-->0.47736708355921564
 K value-->6 : Silhoutte Score-->0.3853004346279277
 K value-->7 : Silhoutte Score-->0.3857177834468385
 K value-->8 : Silhoutte Score-->0.35820037937595295
 K value-->9 : Silhoutte Score-->0.36847598403491566
 K value-->10 : Silhoutte Score-->0.367071550527914
 K value-->11 : Silhoutte Score-->0.3555480289676425
 K value-->12 : Silhoutte Score-->0.40575472168121224
 K value-->13 : Silhoutte Score-->0.3637740137599088
 K value-->14 : Silhoutte Score-->0.36577550069455145
 K value-->15 : Silhoutte Score-->0.3199720134183232
 K value-->16 : Silhoutte Score-->0.3597069316646757
 K value-->17 : Silhoutte Score-->0.4153952445998913
 K value-->18 : Silhoutte Score-->0.3689370249819037
 K value-->19 : Silhoutte Score-->0.32271232287437845

In [17]:
kmean = KMeans(n_clusters=2 , init='random' , max_iter=300 , random_state=23)
kmean.fit(df)
inertia = kmean.inertia_
print("Best achived silhotte score for no of cluster 2 is : " , silhouette_score(df, kmean.labels_))

Best achived silhotte score for no of cluster 2 is :  0.7753259010379762

In [ ]:
sns.lineplot(x = )