In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

from sklearn.model_selection import GridSearchCV

In [42]:
df = pd.read_csv(r"C:\Users\User\#DataScience-IRL-Hyd\AI-ML-Inn\vgsales.csv")
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

0

In [4]:
df.dropna(inplace=True)

In [7]:
X = df.drop('Global_Sales' , axis=1)
y = df['Global_Sales']

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=23)

In [8]:
from sklearn.preprocessing import OneHotEncoder , OrdinalEncoder

In [12]:
df.drop("Name" , axis=1 , inplace=True)

In [30]:
df_num = df.select_dtypes(exclude='object')
df_cat = df.select_dtypes(include='object').columns

In [16]:
df_cat

Index(['Platform', 'Genre', 'Publisher'], dtype='object')

In [33]:
ohe = OrdinalEncoder()
ohe.fit(X_train[df_cat])
ohe_df_train = pd.DataFrame(ohe.transform(X_train[df_cat]) , columns=ohe.get_feature_names_out())
ohe_df_train

       Platform  Genre  Publisher
0          19.0    1.0      216.0
1           4.0    7.0      280.0
2           4.0    9.0      486.0
3          27.0    6.0      451.0
4          15.0    2.0      422.0
...         ...    ...        ...
13027       4.0    1.0      320.0
13028      15.0    3.0      422.0
13029       4.0    1.0      156.0
13030       7.0   10.0      132.0
13031       4.0    7.0      320.0

[13032 rows x 3 columns]

In [34]:
ohe = OrdinalEncoder()
ohe.fit(X_test[df_cat])
ohe_df_test = pd.DataFrame(ohe.transform(X_test[df_cat]) , columns=ohe.get_feature_names_out())
ohe_df_test

      Platform  Genre  Publisher
0         15.0    8.0      288.0
1          4.0    9.0      159.0
2         15.0    2.0       80.0
3          4.0    5.0       75.0
4          8.0   10.0      241.0
...        ...    ...        ...
3254      20.0   11.0      241.0
3255      11.0   10.0      196.0
3256      19.0    2.0        3.0
3257      14.0    1.0      143.0
3258      10.0    8.0      184.0

[3259 rows x 3 columns]

In [37]:
df = pd.concat([ohe_df_test , ohe_df_train] , axis=0)
df

       Platform  Genre  Publisher
0          15.0    8.0      288.0
1           4.0    9.0      159.0
2          15.0    2.0       80.0
3           4.0    5.0       75.0
4           8.0   10.0      241.0
...         ...    ...        ...
13027       4.0    1.0      320.0
13028      15.0    3.0      422.0
13029       4.0    1.0      156.0
13030       7.0   10.0      132.0
13031       4.0    7.0      320.0

[16291 rows x 3 columns]

In [40]:
df_main = pd.concat([df , df_num] , axis=1)
df_main

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [45]:
# Feature selection and target variable
features = ["Rank", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"]
target = "Global_Sales"

# Split data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df[features], df[target], test_size=0.2, random_state=42
)

# Create the GridSearchCV object
param_grid = {
    "n_estimators": [100, 200, 300],
    "max_depth": [5, 8, 10],
}

grid_search = GridSearchCV(RandomForestRegressor(), param_grid, cv=5, scoring=)

# Fit the grid search object to the training data
grid_search.fit(X_train, y_train)

# View the best parameters
print(grid_search.best_params_)

# Use the best model to make predictions on the test set
predictions = grid_search.best_estimator_.predict(X_test)

# Calculate the mean squared error
from sklearn.metrics import mean_squared_error

print(mean_squared_error(y_test, predictions))

{'max_depth': 8, 'n_estimators': 100}
0.6441118072780387

In [52]:
rand = RandomForestRegressor(max_depth=8)
rand.fit(X_train , y_train)
pred = rand.predict(X_test)
print(mean_squared_error(y_test, pred))

0.6348848406627589

In [44]:
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor