In [1]:
import pandas as pd
import emoji
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer , LancasterStemmer , SnowballStemmer , WordNetLemmatizer
from nltk.tokenize import word_tokenize , sent_tokenize
import autocorrect
import textblob

In [8]:
df = pd.read_csv(r"C:\Users\User\Downloads\sentimentdataset.csv")

In [9]:
df

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,728,732,Collaborating on a science project that receiv...,Happy,2017-08-18 18:20:00,ScienceProjectSuccessHighSchool,Facebook,#ScienceFairWinner #HighSchoolScience,20.0,39.0,UK,2017,8,18,18
728,729,733,Attending a surprise birthday party organized ...,Happy,2018-06-22 14:15:00,BirthdayPartyJoyHighSchool,Instagram,#SurpriseCelebration #HighSchoolFriendship,25.0,48.0,USA,2018,6,22,14
729,730,734,Successfully fundraising for a school charity ...,Happy,2019-04-05 17:30:00,CharityFundraisingTriumphHighSchool,Twitter,#CommunityGiving #HighSchoolPhilanthropy,22.0,42.0,Canada,2019,4,5,17
730,731,735,"Participating in a multicultural festival, cel...",Happy,2020-02-29 20:45:00,MulticulturalFestivalJoyHighSchool,Facebook,#CulturalCelebration #HighSchoolUnity,21.0,43.0,UK,2020,2,29,20
731,732,736,Organizing a virtual talent show during challe...,Happy,2020-11-15 15:15:00,VirtualTalentShowSuccessHighSchool,Instagram,#VirtualEntertainment #HighSchoolPositivity,24.0,47.0,USA,2020,11,15,15

In [12]:
df['Text']

0       Enjoying a beautiful day at the park!        ...
1       Traffic was terrible this morning.           ...
2       Just finished an amazing workout! ðŸ’ª          ...
3       Excited about the upcoming weekend getaway!  ...
4       Trying out a new recipe for dinner tonight.  ...
                             ...
727    Collaborating on a science project that receiv...
728    Attending a surprise birthday party organized ...
729    Successfully fundraising for a school charity ...
730    Participating in a multicultural festival, cel...
731    Organizing a virtual talent show during challe...
Name: Text, Length: 732, dtype: object

#### Emojis Count in the dataset

In [13]:
count = 0
df["Text"].apply(lambda x: count + emoji.emoji_count(x)).sum()

11

In [ ]:
def eda(data,column):
    count = 0
    count = df["Text"].apply(lambda x: count + emoji.emoji_count(x)).sum()

#### Lowercase

In [16]:
df["Text"].str.islower().sum()

0

#### URLs

In [ ]:
df["Text"],apply(lambda x: if re.search(r'www.\S+ | https?://\S+', x) else False).sum()

#### HTML tags

In [ ]:
tag = df['Text'].apply(lambda x : if re.search(r'<[^>]+>' , x) else False).sum()

#### Punctutation

In [ ]:
punct = df['Text'].apply(lambda x : if re.search(r '[^a-zA-Z0-9]' , x) else False).sum()

#### Digits

In [ ]:
digit = df['Text'].apply(lambda x : if re.search(r '[0-9]' , x) else False).sum()

In [30]:
def eda(data,column):
    count = 0
    count = data[column].apply(lambda x: count + emoji.emoji_count(x)).sum()
    lower = data[column].str.islower().sum()
    url   = data[column].apply(lambda x: True if re.search(r'www.\S+ | https?://\S+', x) else False).sum()
    tag   = data[column].apply(lambda x : True if re.search(r'<[^>]+>' , x) else False).sum()
    punct = data[column].apply(lambda x : True if re.search(r '[^a-zA-Z0-9]' , x) else False).sum()
    digit = data[column].apply(lambda x : True if re.search(r '[0-9]' , x) else False).sum()
    return pd.Series("Emoji" :count , "Lowercase" : lower , "URLs" : url ,"HTML tags" : tag , "Punctuation Marks" : punct, "Digits" : digit)

SyntaxError: expected 'else' after 'if' expression (588002704.py, line 7)

In [31]:
dff = pd.read_csv(r"C:\Users\User\Downloads\Dataset_-_Test.csv")

In [32]:
dff

                                                 Tweet
0    Hand-Held ï¿½ï¿½ï¿½Hoboï¿½Ûª: Drafthouse launches ï¿½ï¿½ï¿½Ho...
1    Again? RT @mention Line at the Apple store is ...
2    Boooo! RT @mention Flipboard is developing an ...
3    Thanks to @mention for publishing the news of ...
4    ï¿½ï¿½ï¿½@mention &quot;Apple has opened a pop-up st...
..                                                 ...
499  Hey is anyone doing #sxsw signing up for the g...
500  @mention you can buy my used iPad and I'll pic...
501  @mention You could buy a new iPad 2 tmrw at th...
502  Guys, if you ever plan on attending #SXSW, you...
503  &quot;Do you know what Apple is really good at...

[504 rows x 1 columns]

In [40]:
def eda(data,column):
    count = 0
    count = data[column].apply (lambda x: count + emoji.emoji_count(x)).sum()
    lower = data[column].str.islower().sum()
    url   = data[column].apply(lambda x: True if re.search(r'www.\S+ | https?://\S+', x) else False).sum()
    tag   = data[column].apply(lambda x : True if re.search(r'<[^>]+>' , x) else False).sum()
    punct = data[column].apply(lambda x : True if re.search(r '[^a-zA-Z0-9]' , x) else False).sum()
    digit = data[column].apply(lambda x : True if re.search(r '[0-9]' , x) else False).sum()
    return pd.Series("Emoji" :count , "Lowercase" : lower , "URLs" : url ,"HTML tags" : tag , "Punctuation Marks" : punct, "Digits" : digit)

SyntaxError: expected 'else' after 'if' expression (2521669231.py, line 7)

In [34]:
def eda(data):
    count = 0 
    count = data.apply(lambda x: count + emoji.emoji_count(x)).sum()
    lower = data.str.islower().sum()
    url = data.apply(lambda x: True if re.search(r'https?:\S+| www.\S+',x) else False).sum()
    tags = data.apply(lambda x: True if re.search(r'<[^>]+>',x) else False).sum()
    punctuation = data.apply(lambda x: True if re.search(r'[^a-zA-Z0-9]',x) else False).sum()
    digits = data.apply(lambda x: True if re.search(r'[0-9]',x) else False).sum()

    return pd.Series({'Emoji':count,'Lower_case':lower,"Urls":url,'tags':tags,'punctuation':punctuation,'digits':digits})

In [35]:
eda(dff.Tweet)

Emoji            0
Lower_case       5
Urls             1
tags             0
punctuation    504
digits         161
dtype: int64

### ALL LOWERCASE

In [41]:
def text_pre(x):
    x = x.lower()
    
    return x

In [42]:
df["Text"].apply(text_pre)

0       enjoying a beautiful day at the park!        ...
1       traffic was terrible this morning.           ...
2       just finished an amazing workout! ðŸ’ª          ...
3       excited about the upcoming weekend getaway!  ...
4       trying out a new recipe for dinner tonight.  ...
                             ...
727    collaborating on a science project that receiv...
728    attending a surprise birthday party organized ...
729    successfully fundraising for a school charity ...
730    participating in a multicultural festival, cel...
731    organizing a virtual talent show during challe...
Name: Text, Length: 732, dtype: object

### Complete Text Preprocessing

In [59]:
def text_pre(x):
    spell = autocorrect.Speller()    #Object for spelling correction
    porter = PorterStemmer()
    x = x.lower()   #COnverting entire text into lowercase
    spell.autocorrect_sentence(x)   #Spelling Correction
    x = emoji.demojize(x).replace(":" , "")    #COnverting Emoji into text
    x = re.sub(r'https?:\S+| www.\S+',' ',x)    #Removing URLs
    x = re.sub(r'<[^>]+>','',x)      #Removing HTML tags
    x = re.sub(r'[^a-zA-Z0-9]' ,' ', x)   #REmoving Punctuation marks
    x = re.sub(r'[^a-zA-Z0-9]',' ',x)       #Removing digits
    x = word_tokenize(x)               #Tokenize in words
    x = [i for i in x if i not in stopwords.words("english")]       #Removing Stopwords
    x = [porter.stem(i) for i in x]
    
    
    return x

In [60]:
df["Text"].apply(text_pre)

0                             [enjoy, beauti, day, park]
1                               [traffic, terribl, morn]
2                   [finish, amaz, workout, flex, bicep]
3                       [excit, upcom, weekend, getaway]
4                     [tri, new, recip, dinner, tonight]
                             ...
727    [collabor, scienc, project, receiv, recognit, ...
728    [attend, surpris, birthday, parti, organ, frie...
729    [success, fundrais, school, chariti, initi, jo...
730    [particip, multicultur, festiv, celebr, divers...
731    [organ, virtual, talent, show, challeng, time,...
Name: Text, Length: 732, dtype: object